.top-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #173e43;
  z-index: 99;
}
.top-bar .menu-text {
  color: white;
  font-size: 1.5em;
}
.top-bar ul {
  background-color: transparent;
}
.top-bar a {
  color: white;
}
.top-bar a:hover {
  color: #3fb0ac;
}

.mountains {
  padding-top: 60px;
  height: 600px;
  background-image: url(mountains.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 176, 172, 0.6);
}
.cta {
  padding-top: 250px;
  text-align: center;
  top: 50%;
}
.cta a {
  border: 4px solid white;
  padding: 20px 80px;
  color: white;
  font-size: 1.4em;
  font-weight: 600;
}
.cta a:hover {
  border-color: #173e43;
  color: #173e43;
}

.main-title {
  background-color: #fae596;
  padding: 1em;
}
.main-info {
  padding: 2em;
}

.contact {
  background-color: #dddfd4;
  padding: 2em;
}

.button {
  background-color:#173e43;
}
.button:visited {
  background-color:#173e43;
}
.button:hover {
  background-color: #173e43;
  color: #3fb0ac;
}
